.dropdown-container {
    position: relative;
    --bg-dropdown: light-dark(#cfcfcf, #343434);
    --border-color: light-dark(#656565, #9a9a9a);
}

.dropdown-btn {
    height: 3rem;
    width: 8.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    background: var(--bg-sec);
    border: none;
    color: currentColor;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.dropdown-btn:hover {
    background-color: color-mix(in lab, var(--bg-sec), currentColor 11.37%);
}

.dropdown-btn:active {
    transform: scale(0.95);
}

.dropdown {
    position: absolute;
    max-height: 0;
    height: fit-content;
    width: 100%;
    bottom: 100%;
    left: 0;
    background-color: light-dark(var(--bg-pri), var(--bg-sec));
    box-shadow: 0 -5px 30px light-dark(var(--bg-dropdown), var(--bg-pri));
    border-radius: 6.5px;
    z-index: 1;
    overflow: hidden;
    margin-bottom: 0.25rem;
    transition: max-height 0.25s ease-in-out;
}

.dropdown.open {
    max-height: min(50svh, calc(var(--height-value) + 1rem));
    overflow: scroll;
}

.dropdown-wrapper {
    padding: 0.5rem;
}

.dropdown-wrapper label p {
    width: 100%;
    text-indent: 0.4rem;
    text-align: start;
    padding: 0.6rem 0.4rem;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.dropdown-wrapper label:not(:last-child) p {
    border-bottom: 1px solid var(--border-color);
}

.dropdown-wrapper label:has(input[data-checked="checked"]) p,
.dropdown-wrapper label p:hover {
    background-color: var(--bg-dropdown);
}

.dropdown-wrapper label:has(input[data-checked="checked"]):first-child p,
.dropdown-wrapper label:first-child p:hover {
    border-top-left-radius: 3.5px;
    border-top-right-radius: 3.5px;
}

.dropdown-wrapper label:has(input[data-checked="checked"]):last-child p,
.dropdown-wrapper label:last-child p:hover {
    border-bottom-left-radius: 3.5px;
    border-bottom-right-radius: 3.5px;
}

.dropdown-wrapper label input {
    display: none;
}

@media (pointer: coarse) {
    .dropdown-btn:hover {
        background-color: var(--bg-sec);
    }

    .dropdown-btn:active {
        background-color: color-mix(in lab, var(--bg-sec), currentColor 11.37%);
        transform: scale(0.95);
    }

    .dropdown-wrapper label p:hover {
        background-color: transparent;
    }

    .dropdown-wrapper label p:active {
        background-color: var(--bg-dropdown);
    }
}