.text-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.text-page-container .text-div {
    width: 100%;
    height: 1rem;
    flex-grow: 1;
    background-color: var(--bg-sec);
    border-radius: 20px;
    padding: 1rem;
    padding-bottom: 3rem;
    position: relative;
}

.text-page-container .text-div textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 1.1rem;
    overflow-y: scroll;
    border: none;
    outline: none;
    background-color: var(--bg-sec);
    color: currentColor;
}

.text-page-container .text-div>svg {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.text-page-container .text-div>svg:last-child {
    left: 3rem;
}

.text-page-container .text-div>svg:hover {
    transform: scale(1.1);
}

.text-page-container .text-div>svg:active {
    transform: scale(0.9);
}

.text-page-container .text-div>span {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ff0000;
    font-size: 0.7rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.text-page-container .text-div>span:hover {
    transform: scale(1.1);
}

.text-page-container .text-div>span:active {
    transform: scale(0.95);
}

.text-page-container .text-div>svg *,
.text-page-container .text-div>span>svg {
    pointer-events: none;
}

.text-page-container .language-div {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.75fr 1fr;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.text-page-container .language-div .switch-btn {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    cursor: pointer;
}