.bottom-sheet {
    position: fixed;
    width: min(30rem, 100%);
    bottom: 0;
    left: 50%;
    z-index: 999;
    transform: translateX(-50%);
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1.5rem;
    background-color: var(--bg-pri);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -5px 30px light-dark(#cfcfcf, var(--bg-pri));
    transition: bottom 0.5s ease-in-out;
}

.bottom-sheet.close {
    bottom: -100%;
}

.language-voices-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.language-voices-container p {
    font-size: 1.1rem;
    font-weight: 500;
}

.sheet-dropdown {
    width: 100%;
}

.sheet-dropdown .dropdown-btn {
    width: 100%;
    height: auto;
    padding: 0.8rem;
}

.theme-btn,
.close-btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 3.25rem;
    width: 3.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-inv);
    font-size: 2rem;
    color: var(--bg-sec);
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    z-index: 1;
    cursor: pointer;
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.theme-btn svg {
    pointer-events: none;
}

.close-btn {
    right: 0;
    left: unset;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
}

.theme-btn:hover,
.close-btn:hover {
    background-color: color-mix(in lab, var(--bg-inv), currentColor 15%);
}

.theme-btn:active,
.close-btn:active {
    transform: scale(0.95);
}

@media (pointer: coarse) {

    .theme-btn:hover,
    .close-btn:hover {
        background-color: var(--bg-inv);
    }

    .theme-btn:active,
    .close-btn:active {
        background-color: color-mix(in lab, var(--bg-inv), currentColor 15%);
        transform: scale(0.95);
    }
}