.image-page-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    gap: 2rem;
    padding-top: 2rem;
}

.image-page-container>label {
    margin-block: auto;
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--bg-inv);
    color: var(--bg-sec);
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.image-page-container>label:hover {
    background-color: color-mix(in lab, var(--bg-inv), currentColor 15%);
}

.image-page-container>label:active {
    transform: scale(0.95);
}

.image-page-container>label input {
    display: none;
}

.stop-div {
    margin-block: auto;
    border-radius: 50%;
    position: relative;
}

.stop-div>svg {
    fill: #ff0000;
    position: absolute;
    width: 120%;
    height: 120%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: top left;
    z-index: -1;
    animation: rotation infinite 10s linear forwards;
}

@keyframes rotation {
    100% {
        rotate: 360deg;
    }
}

.image-page-container .stop-btn {
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #ff0000;
    box-shadow: 0 0 30px rgb(255, 0, 0, 0.75);
    transition: background-color 0.25s ease, transform 0.25s ease;
}

.image-page-container .stop-btn:hover {
    background-color: #ff3333;
}

.image-page-container .stop-div:has(.stop-btn:hover)>svg {
    fill: #ff3333;
}

.image-page-container .stop-btn:active {
    transform: scale(0.95);
}

.image-page-container .translate-textbox {
    width: 100%;
    height: 1rem;
    max-height: 30rem;
    flex-grow: 1;
    background-color: var(--bg-sec);
    border-radius: 20px;
    padding: 1rem;
    padding-bottom: 3rem;
    position: relative;
}

.image-page-container .translate-textbox>p {
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    font-weight: 400;
    overflow-y: scroll;
}

.image-page-container .translate-textbox>p:empty:before {
    content: "Translated text will appear here";
    color: grey;
}

.image-page-container .translate-textbox>svg {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1.25rem;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.image-page-container .translate-textbox>svg:last-child {
    left: 3rem;
}

.image-page-container .translate-textbox>svg:hover {
    transform: scale(1.1);
}

.image-page-container .translate-textbox>svg:active {
    transform: scale(0.9);
}

.image-page-container .translate-textbox>span {
    position: absolute;
    bottom: 1rem;
    left: 3rem;
    height: 1.25rem;
    width: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ff0000;
    font-size: 0.7rem;
    color: #fff;
    cursor: pointer;
    transition: transform 0.25s ease;
}

.image-page-container .translate-textbox>span:hover {
    transform: scale(1.1);
}

.image-page-container .translate-textbox>span:active {
    transform: scale(0.95);
}

.image-page-container .translate-textbox>svg *,
.image-page-container .translate-textbox>span>svg {
    pointer-events: none;
}

.image-page-container .image-lang .dropdown {
    bottom: unset;
    top: 100%;
    margin-bottom: 0;
    margin-top: 0.25rem;
    box-shadow: 0 5px 30px light-dark(var(--bg-dropdown), var(--bg-pri));
}

@media (pointer: coarse) {
    .image-page-container>label:hover {
        background-color: var(--bg-inv);
    }

    .image-page-container>label:active {
        background-color: color-mix(in lab, var(--bg-inv), currentColor 15%);
        transform: scale(0.95);
    }

    .image-page-container .stop-btn:hover {
        background-color: #ff0000;
    }

    .image-page-container .stop-btn:active {
        background-color: #ff3333;
        transform: scale(0.95);
    }

    .image-page-container .stop-div:has(.stop-btn:hover)>svg {
        fill: #ff0000;
    }

    .image-page-container .stop-div:has(.stop-btn:active)>svg {
        fill: #ff3333;
    }
}